.btn-createGame{
    cursor: pointer;
    color: white;
    display: inline-block;
    justify-content: center;
    padding: 10px;
    margin: 4px 2px;
    background-color: transparent;
    border-color: #FF5770;
    border-width: 1px;
    border-style: solid;
    border-radius: 5px;
    font-size: 14px;
    height: 50px;
    font-weight: 500;
    transition: .25s ease-in-out;
  }
  
  .btn-createGame:hover{
    color: #FFF;
    background-color: #FF5770;
    border-color: transparent;
    border-radius: 5px;
    font-size: 14px;
    height: 50px;
  }
  