.pagination{
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 40px;
}

.item{
    padding: 0.7em;
}

.item button{
    cursor: pointer;
    height: 45px;
    width: 35px;
    border-radius: 5px;
    border-color: #FF5770;
    background-color: transparent;
    color: #fff;
    font-size: 20px;
    font-weight: 500;
    transition: .25s ease-in-out;
}

.item:hover button{
    border-color: transparent;
    background-color: #FF5770;
}